<div class='page-header'>  
  {{#if session.isAuthenticated}}
    <h1>{{#link-to 'welcome'}}Hi.{{/link-to}}</h1>
  {{else}}
    <h1>You must be signed in to use this app.</h1>
    <div class='list-group'>
      {{#link-to 'sign-up' class='list-group-item'}}Sign Up{{/link-to}}
      {{#link-to 'sign-in' class='list-group-item'}}Sign In{{/link-to}}
    </div>
  {{/if}}
</div>
